@font-face{
    font-family: 'pops';
    src: url('./../../fonts/pops/Poppins-Light.ttf');
}
@font-face{
    font-family: 'popsbold';
    src: url('./../../fonts/pops/Poppins-Regular.ttf');
}
@font-face{
    font-family: 'popslighter';
    src: url('./../../fonts/pops/Poppins-Thin.ttf');
}